
.footer {
  background-color: #0f172a;
  color: #94a3b8;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #1e293b;
  position: relative;
  z-index: 10;
}

.socialIcon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  background-color: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.socialIcon:hover {
  background-color: #e91e63;
  color: white;
}
